<%= form_with(model: [@movie, @movie.ratings.build]) do |form| %>
  <div>
    <%= form.label :star %>
    <%= form.collection_radio_buttons :star, (1..5).reverse_each.map { |n| [n, "#{n}â­"] }, :first, :last do |b| %>
      <%= b.radio_button %>
      <%= b.label(style: 'display: inline') %>
    <% end %>
    <%= form.submit 'Add' %>
  </div>

<% end %>